<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta property="og:title" content="Quick Link" />
        <meta property="og:type" content="Website" />
        <meta property="og:url" content="<%= host%>/a/<%= qll %>" />
        <meta property="og:image" content=<%= awslink %> />
        <meta property="og:image:width" content="400" />
        <meta property="og:image:height" content="300" />
        <meta property="og:description" content="Easily upload and web optimize your images" />

        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="Quicklink">
        <meta name="twitter:description" content="Upload and optimize your images quickly">
        <meta name="twitter:image" content=<%= awslink %>>
    
    
        <title>QuickLink</title>
        <link href="../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" type="text/css">
      </head>

    <body>
        <div class="justify-items-center text-center margin-auto container card mt-5">
            <img class="p-5" style = "display: block; margin:auto" src="<%= awslink %>">
            <a style = "display: block;" href="<%= host%>/a/<%= qll %>"> 
                <%= host%>/a/<%= qll %>
             </a>
        </div>
    </body>
</html>